
<div class="cookieConsent">
  <button
    type="button"
    class="cookie-close-button"
    data-dismiss="cookieConsent"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  This website uses cookies. By continuing to use the site, you agree to our
  <a href="http://www.sydney-brown.com/pages/privacy-policy"
    >Privacy & Cookie Policy</a
  >.

  <button class="cookie-consent-btn" type="button">OK</button>
</div>
