
<div >
  <button
    type="button"
    class="cookie-close-button"
    data-dismiss="cookieConsent"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  This website uses cookies. By continuing to use the site, you agree to our
  <a href="http://www.sydney-brown.com/pages/privacy-policy"
    >Privacy & Cookie Policy</a
  >.

  <button class="cookie-consent-btn" type="button">OK</button>
</div>

<style>
.cookieConsent {
    background-color: blue;
    min-height: 38px;
    font-size: 1em;
    color: black;
    line-height: 1.6em;
    padding: 1.5em 1em 0.5em 1em;
    text-align: center;
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.cookieConsent a {
    color:black;
    text-decoration: none;
}
.cookieConsent a:hover {
   color:gray;
   cursor: default;
}
.cookie-consent-btn {
  display: inline-block;
  font-size: 11px;
  border: solid 0.5px darkgray;
  height:21px;
  color: black;
  background-color: white;
  margin-top: 3px;
}
.cookie-consent-btn:focus,
.cookie-consent-btn:hover {
  outline: none;
  background: darkgray;
  color: white;
}
.cookie-close-button {
  float:right;
  display: inline-block;
  font-size: 14px;
  border: none;
  height:20px;
  color: black;
  background-color: white;
  margin: -15px -15px 0 0;
 }
.cookie-close-button:focus,
.cookie-close-button:hover {
  outline: none;
  color: darkgray;
}

@media (min-width: 640px) {  
  .cookie-close-button {
  position: relative;
  right: calc((100% - 625px)/2);
  }  
}

</style>
